*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}
body{
    background-color: rgb(245, 245, 245);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
/*Frameworks*/
.primary-text{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
}
.button-primary{
    color: white;
    background-color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 10px 35px;
}
.button-primary:hover{
    color: rgb(0, 106, 80);
    background-color: white;

}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Nav bar */
header{
    width: 1480px;
    margin: auto;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}
header nav a{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
header nav button{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 10px 30px;
}
header nav button:hover{
    color: white;

    background-color: rgb(0, 106, 80);

    border-radius: 5px;
    padding: 10px 30px;
}


/* Section one */
.one{
    width: 1280px;
    margin: auto;
    background-color: rgb(198, 228, 214);
    border-radius: 10px;
    padding: 80px 100px;

    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
}
.one .left p{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.one .left h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}


/* Section two */
.two{
    margin-top: 80px;
    width: 1480px;
    margin: auto;

}
.two h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}
.two .parent{
    margin-bottom: 80px;
}
.two .child{
    width: 302px;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
}
.two .child img{
    margin-bottom: 24px;
    width: 50px;
    height: 54px;
}
.two .child h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
.two .child p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* Section three */
.three{
    margin-top: 80px;
    width: 1480px;
    margin: auto;

}
.three h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
.three p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.three .parent{
    margin: 32px 0;
}
.three .child{
    padding: 32px;
    border-radius: 10px;
}
.three .child-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.three .child-2{
    background-color: rgb(198, 228, 214);
}
.three .child-3{
    background-color: rgb(247, 235, 207);
}
.three .child img{
    margin-bottom: 24px;
    width: 50px;
    height: 54px;
}
.three .child h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.three .child p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}
.button2{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;

    border-radius: 8px;
    padding: 11px 19px;
    border: none;
}
.three .child-btn1{
    background-color: rgb(84, 144, 245);
    border: 1px solid rgb(84, 144, 245);
}
.three .child-btn2{
    background-color: rgb(9, 161, 92);
    border: 1px solid rgb(9, 161, 92);
}
.three .child-btn3{
    background-color: rgb(255, 194, 57);
    border: 1px solid rgb(255, 194, 57);
}
.button2:hover{
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);

    background-color: white;
}


/* four qutation */
.four{
    margin-top: 80px;
    width: 1432px;
    margin: auto;
    background-color: white;
    padding: 48px 24px;
    margin-bottom: 80px;




    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 24px;
}
.four P{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
.four h2{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

    margin-bottom: 4px;
}
.four .desc{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}




/* Section three */
.five{
    margin-top: 80px;
    margin-bottom: 80px;
    width: 1480px;
    margin: auto;

}
.five h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
.five p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}
.card-1{
    padding: 48px;
    background-color: white;
    border-radius: 10px;

    gap: 20px;
    margin-bottom: 20px;
}
.card-1 .left{

}
.card-1 .left h2{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.card-1 .left img{
    height: 40px;
    width: 134px;

}
.card-1 .left .custom1{
    justify-content: left;
    margin: 5px 0 0 0;

}
.card-1 .right .desc{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.card-1 .right img{
    height: 306px;
    width: 408px;
    border-radius: 24px;
}



/* Section two */
.six{
    margin-bottom: 80px !important;
    width: 1480px;
    margin: auto;


}
.six h2{
    margin-top: 80px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;

    text-align: center;
}
.six p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.six .parent{
    gap: 30px;
    margin: 32px 0;
}
.six .child{

}
.six .child button{
    background-color: white;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding: 50px 60px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);;
}
.six .child button:hover{
    color: rgb(0, 106, 80);
    background-color: white;

    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding: 50px 60px;
    border-radius: 16px;
    border: 1px solid rgb(0, 106, 80);
}
.active{
    background-color: rgb(198, 228, 214) !important;
    border-radius: 16px;
    border: 1px solid rgb(198, 228, 214) !important;
}

.donate{
    border:none;
    border-bottom: 1px solid;
    display: block;
    width: 1040px;
    margin: auto;


    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px;

    margin-bottom: 34px;
}
.donate:active{
    border: 1px solid rgb(198, 228, 214);
}
.custom-donate{
    display: block;
    margin: auto;

}







/* Section two */
.seven{
    margin-bottom: 80px !important;
    width: 1480px;
    margin: auto;
    padding: 80px 100px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;


}
.seven h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;

    text-align: center;
}
.seven p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    width: 622px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.donate{
    border:none;
    border-bottom: 1px solid;
    margin: 0;


    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 20px;
    margin-bottom: 34px;
}
.donate:active{
    border: 1px solid rgb(198, 228, 214);
}
.custom-donate{
    display: block;
    margin: auto;
}
.custom-btn-donate{
    padding: 20px;
    margin-bottom: 34px;
}
.custom-seven{
    gap: 0;
    justify-content: left;
}
.input-group{
    display: flex;
    justify-content: center;

}





footer{
    background-color: white;
    text-align: center;
    align-items: center;
}
footer .content{
    width: 1480px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
footer .content h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}
footer .content hr{
    color: rgba(14, 14, 14, 0.1);
    margin: 32px 0;
}
footer .content .parent .child{
    gap: 23px !important;
}